* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto';
}

.author {
    font-size: 1.525rem;
    margin-top: 1.25rem;
    margin-left: 50.5rem;
}

.cta,
.footer,
.main,
.navbar,
.testimonial {
    padding-right: 17.5rem;
    padding-left: 17.5rem;
}


button {
    height: 2.5rem;
    width: 7.5rem;
    background-color: #3882F6;
    border-radius: 5px;
    color: #F9FAF8;
}

.cta {
    height: 50vh;
    background-color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-info {
    background-color: #3882F6;
    padding: 1.75rem;
    width: 50%;
    height: 25%;
    color: #F9FAF8;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    height: 7.5vh;
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery {
    display: flex;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}

.header-section {
    display: flex;
    color: #F9FAF8;
    background-color: #1f2937;
    height: 70vh;
    align-items: center;
    justify-content: space-evenly;
}

.header-img {
    background-image: url('./img/mike-swigunski-k9Zeq6EH_bk-unsplash.jpg');
    background-size: cover;
    height: 20rem;
    width: 41rem;
}

.info {

    height: 15.875rem;
    width: 35.625rem;
    padding: 1.5rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    align-content: flex-start;
}

.info-text {
    margin-bottom: 10px;
}

li:not(:last-child) {
    margin-right: 1.75rem;
    font-size: 1.075rem;
}

.links li {
    font-size: 1.25rem;
}

.logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: #F9FAF8;
}

.logo-img {
    margin-right: 1.125rem;
}

.main {
    height: 50vh;
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    background-color: orangered;
}

.navbar  {
    background-color: #1F2937;
    color: #F9FAF8;
    height: 7.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quote {
    width: 60%;
    font-size: 2.25rem;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}

.signup-2 {
    border: 2.25px solid #F9FAF8;   
}

.testimonial {
    height: 50vh;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}
